
.custom-icon-size .q-item__section--side .q-icon {
  font-size: 2.5rem;  /* Ajuste o tamanho do ícone */
  width: 40px;      /* Largura opcional */
  height: 40px;     /* Altura opcional */
}

.custom-icon-size .q-expansion-item__arrow {
  font-size: 18px; /* Tamanho padrão para a seta */
  width: auto;
  height: auto;
}

